/* Main css */

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Boxes behavior */

.box {
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    width: 84px;
    height: 84px;
    border-width: 0.3em;
    border-style: solid;
    border-radius: 0.3em;
    cursor: pointer;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.box:hover {
    border-width: 0.4em;
    background-color: #101318;
    opacity: 90;
    transition: 100ms;
    text-shadow: 0 0 0.8vw currentColor;
    box-shadow: 0 0 0.8vw currentColor;
}

.elementHeader {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}


/* Text behavior in boxes */

.atomicNumber {
    font-size: 0.6em;
}

.atomicMass {
    font-size: 0.6em;
    margin-bottom: 1px;
}

.symbol {
    font-size: 1.7em;
}

.name {
    font-size: 0.7em;
}
