/* Main css */

table {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    width: 83px;
    height: 83px;
    border-width: 1px;
    border-style: solid;
    border-color: #28e2ff;
    border: solid;
    color: #fff;
    border-radius: 0.3em;
}

.atomicNumber {
    padding-bottom: 0px;
    font-size: 0.6em;
}

.atomicMass {
    font-size: 0.6em;
}

.symbol {
    padding: 0px;
    margin: 0px;
    font-size: 1.7em;
}

.name {
    font-size: 0.7em;
}


/* element colors */

.alkali-metal {
    color: #ecbe59;
}

.alkaline-earth-metal {
    color: #dee955;
}

.lanthanide {
    color: #ec77a3;
}

.actinide {
    color: #c686cc;
}

.transition-metal {
    color: #fd8572;
}

.post-transition-metal {
    color: #28e2ff;
}

.metalloid {
    color: #33eeb3;
}

.other-nonmetal {
    color: #4ef05f;
}

.noble-gas {
    color: #7199f7;
}

.unknown {
    color: #c4c4c4;
}


/* --------------------------------------
------------ROWS & COLUMNS --------------
---------------------------------------*/


/*
.span-3 {
    column-span: 3;
}

.span-10 {
    column-span: 10;
}

.span-16 {
    column-span: 16;
}

.span-18 {
    column-span: 18;
} */